$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin media($from: null, $to: null) {
  $from: map-get($breakpoints, $from);
  $to: map-get($breakpoints, $to);

  @if $from and $to {
    @media (min-width: $from) and (max-width: $to - 1px) {
      @content;
    }
  } @else if $from {
    @media (min-width: $from) {
      @content;
    }
  } @else if $to {
    @media (max-width: $to) {
      @content;
    }
  } @else {
    @content
  }
}