//TODO: gestire reset
@import 'reset-css/sass/_reset.scss';
@import './typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

html {
  font-family: $font-family;
}

button {
  font: {
    family: inherit;
  }
  background-color: inherit;
  border: 0;
  cursor: pointer;
  line-height: 0;
  margin: 0;
  padding: 0;
}
